.area {
  padding: 10px;
  background: #8e4747;
  border: 3px solid #a59191;
  &__line {
    display: flex;
  }
  &__elem {
    display: flex;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin: 2px;
    background: #000;
    border: 3px solid #596130;
    color: #fff;
    font-size: 20px;
    line-height: 13px;
  }
}
