.toolbar {
  padding: 10px;
  background: #fff;
  border: 3px solid #a59191;
  &__action {
    display: flex;
    border-bottom: 3px solid #f13a3a;
    padding: 5px 0;
    input {
      margin: 0 5px;
    }
  }
  &__save-button {
    margin: 10px 0;
  }
  &__error {
    color: #f00;
  }
}
